<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.well_sync">

    <application
        android:allowBackup="true"
        android:label="WELLSYNC"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.DisplayDataActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".presentation.UserDetailsActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".presentation.MoodTrackerActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".presentation.SymptomTrackerActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".presentation.MedicationTrackerActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".presentation.SubstanceUseTrackerActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".presentation.HomePageActivity"
            android:exported="true"
            android:label="WELLSYNC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
